* {
    font-family: "Mulish", sans-serif;
}

.nav-content {
    justify-content: space-around;
    display: flex;
    /* margin: auto; */
    margin: auto 127px 50px 135px;
}

.left-head i {
    display: none;
}


.left-head {
    display: flex;
    /* justify-content: space-around; */
    gap: 16.63px;
    align-items: center;
    margin-left: 40px;

}


.right-head {
    display: flex;
    margin-right: 50px;
}

.right-head ul {
    display: flex;
    list-style-type: none;
    gap: 44px;
    align-items: center;


}

.right-head ul a {
    text-decoration: none;
}

.head-logo {
    width: 48px;
    height: 56.008px;


}

.head-title {
    color: #131318;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.head-title span {
    color: #FF5400;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.right-head ul li {
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.right-head ul li span {
    color: #FF5400;
    font-size: 18px;
    font-weight: 700;
}

.banner {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    height: 500px;
    width: 1170px;
    justify-content: center;
    align-items: center;

}

.banner-text h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    text-align: center;
}

.banner-text p {
    width: 676px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.banner-input {
    display: flex;
    gap: 24px;
    padding: 16px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.banner-input input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.banner-input ::placeholder {
    padding-left: 16px;
}

.banner-input button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.popular-tour {
    display: flex;
    justify-content: center;
}

.popular-tours-content {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    gap: 55px;
    margin-top: 100px;
}

.popular-tour-left {
    display: flex;
    flex-direction: column;

}

.popular-tour-left p {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.popular-tour-left li {
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.popular-tour-left button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

.popular-tour-right {
    width: 540px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destination {
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.choose-destination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destination-top-texts {
    margin-bottom: 48px;
    text-align: center;
}

.destination-top-texts h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.destination-top-texts p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.row1 {
    position: relative;
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}

.row2 {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    position: relative;
}

.row3 {
    position: relative;
    display: flex;
    gap: 24px;
}

.Maldives {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 38%;
    left: 20%;
}

.Indonesia {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    left: 70%;
    top: 38%;
}

.Srilanka {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    left: 11%;
    top: 38%;
}

.North-America {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    left: 46%;
    top: 38%;
}

.Kashmir {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    left: 84%;
    top: 38%;
}

.Bangladesh {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    left: 15%;
    top: 38%;
}

.Bandarban {
    color: #FFF;
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    left: 65%;
    top: 38%;
}

.why-us-container {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

.why-us-texts {
    text-align: center;
    margin-bottom: 40px;
}

.why-us-texts h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;

}

.why-us-texts p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.row1-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 0px;
}

.row2-card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.card-1 {
    width: 500px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.card-1 img {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;

}

.card-1 h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-1 p {
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card-3 {
    width: 500px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.card-3 img {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;

}

.card-3 h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-3 p {
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.card-2 {
    width: 500px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.card-2 img {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;

}

.card-2 h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-2 p {
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}



.Newletter {
    margin-top: 100px;
}

.newsletter-content {
    display: flex;
    justify-content: center;
    gap: 24px;
    position: relative;
}

.newsletter-left {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;

}

.newsletter-left h1 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.newsletter-left p {
    width: 350px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

}

.newsletter-left hr {
    border-color: rgba(19, 19, 24, 0.10);
    width: 393px;

}

.newsletter-left input {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.newsletter-left input ::placeholder {
    padding-left: 20px;
}

.newsletter-left button {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    color: #FFF;
}

.newsletter-right {
    display: flex;
    flex-direction: column;

}

.newsletter-right img {
    width: 100%;
}

.save-up {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 63%;
    top: 63%;


}

.save-up p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    margin-bottom: 0px;

}

.save-up h1 {
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    margin-top: 0px;
}

.back {
    width: 672px;
    height: 100%;
    flex-shrink: 0;
}

.footer-content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);

}

.upper-texts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-title {
    display: flex;
    align-items: center;
    margin-top: 110px;
    gap: 16px;
}

.logos {
    display: flex;
    gap: 40px;
    margin-top: 32px;
}

.footer-content hr {
    width: 872px;
    border-color: rgba(19, 19, 24, 0.10);
    margin-top: 50px;
}

.footer-content p {
    width: 769px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #5A5A5D;
}

.rights {
    margin-top: 40px;
    margin-bottom: 110px;
}

.rights p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    color: #131318;
    font-family: "Inter", sans-serif;
}

.footer-title img {
    width: 40px;
    height: 46.673px;
}

.footer-title span {
    color: #FF5400;
    font-size: 32px;
    font-weight: 800;
}

.airlines-content {
    display: flex;
    flex-direction: column;
}

.airlines-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.airlines-head h1 {
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.airlines-head p {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.airlines-row1-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 24px;
}

.airlines-card-1 {
    width: auto;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);

    background: rgba(251, 181, 99, 0.05);


}

.airlines-card-1 {
    width: auto;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 32px;
    background-color: #D9EDBF;


}

.airlines-card-2 {
    width: auto;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 32px;
    background: #FFB996
}

.airlines-card-3 {
    width: auto;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 32px;
    background: #F5EEE6;
}

.airlines-card-4 {
    width: auto;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    padding: 32px;
    background: #E6A4B4;
}

.airlines-row2-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.airline-card-stats {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    color: #131318;
}

.airline-card-title {
    width: 486px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


@media screen and (max-width:600px) {


    .banner,
    .banner-content,
    .banner-input,
    .popular-tour,
    .popular-tours-content,
    .destination,
    .choose-destination,
    .destination-top-texts,
    .row1,
    .row2,
    .row3,
    .why-us-container {
        flex-direction: column;
        align-items: center;

    }

    .nav-content {
        flex-direction: column;
        margin: auto;
        /* margin-right: 20px; */
    }

    .left-head {
        margin: auto;
    }



    .right-head ul {
        display: none;

    }

    .left-head i {
        display: inline;
        margin-left: 105px;
    }

    .left-head img {
        width: 28.724px;
        height: 33.516px;
        flex-shrink: 0;
    }

    .head-title {
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
        /* margin-right: 20px; */

    }

    .head-title span {
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
    }

    .banner-content {
        width: 335px;
        flex-shrink: 0;
        height: 500px;
        background-position: center;
        margin-bottom: 24px;

    }

    .banner-content h1 {
        font-size: 22px;
        font-weight: 800;
    }

    .banner-content p {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        width: 304px;
    }

    .banner-input {
        width: 287px;
        padding: 16px;
    }

    .banner-input input {
        width: 255px;
        height: 52px;

    }

    .banner-input button {
        width: 255px;
        height: 52px;

    }

    .popular-tour {
        max-width: 450px;
    }

    .popular-tours-content {
        margin: auto;
        width: 335px;
    }

    .popular-tour-left h1 {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
    }

    .popular-tour-left p {
        width: 335px;
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .popular-tour-left li {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        width: 300px;
        padding-left: 0px;

    }


    .popular-tour-right {
        width: 340px;
        height: 342px;

    }

    .destination-top-texts h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .destination-top-texts p {
        width: 309px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .row1 img {

        width: 335px;
        height: 176px;

    }

    .row2 img {
        width: 335px;
        height: 176px;

    }

    .row3 img {
        width: 335px;
        height: 176px;

    }

    .Maldives {
        top: 15%;
        left: 38%;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .Indonesia {
        top: 70%;
        left: 38%;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .Srilanka {
        top: 12%;
        left: 38%;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .North-America {
        top: 45%;
        left: 30%;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .Kashmir {
        top: 80%;
        left: 38%;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .Bangladesh {
        top: 15%;
        left: 34%;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .Bandarban {
        top: 70%;
        left: 34%;
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .why-us-texts h1 {
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
    }

    .why-us-texts p {
        width: 309px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .card-1 {
        width: 280px;
        height: 289px;
    }

    .card-1 img {
        width: 48px;
        height: 48px;
    }

    .card-1 h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .card-1 p {
        font-weight: 400;
        line-height: 24px;
        width: 271px;
        font-size: 14px;
    }

    .card-2 {
        width: 280px;
        height: 289px;
    }

    .card-2 img {
        width: 48px;
        height: 48px;
    }

    .card-2 h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .card-2 p {
        font-weight: 400;
        line-height: 24px;
        width: 271px;
        font-size: 14px;
    }

    .card-3 {
        width: 280px;
        height: 289px;
    }

    .card-3 img {
        width: 48px;
        height: 48px;
    }

    .card-3 h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .card-3 p {
        font-weight: 400;
        line-height: 24px;
        width: 271px;
        font-size: 14px;
    }

    .row1-card {
        flex-direction: column;
        align-items: center;



    }

    .row2-card {
        flex-direction: column;

    }

    .deals-discount-content {
        flex-direction: column;

    }

    .deals-texts h1 {
        font-size: 20px;
        font-weight: 800;
    }

    .deals-texts p {
        width: 309px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    .banner-content1 {
        width: 335px;
        height: 500px;

    }

    .newsletter-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter-left {
        width: 270px;
        margin-top: 24px;
        align-items: center;
        justify-content: center;

    }

    .newsletter-left h1 {
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
    }

    .newsletter-left p {
        width: 270px;
        font-size: 14px;
        font-weight: 400;
    }

    .newsletter-left hr {
        width: 288px;
    }

    .newsletter-left input {
        width: 288px;
        height: 52px;
    }

    .newsletter-left button {
        width: 288px;
        height: 52px;
    }

    .newsletter-left hr {
        width: 288px;
    }

    .back {

        width: 335px;
        height: 300px;
        flex-shrink: 0;
    }

    .newsletter-right {
        justify-content: center;
        align-items: center;
    }

    .save-up {
        width: 214.023px;
        height: 79.268px;
        top: 86%;
        left: 35%;


    }

    .save-up p {
        font-size: 15.854px;
        font-weight: 400;
    }

    .save-up h1 {
        font-size: 21.138px;
        font-weight: 800;

    }

    .footer-content {
        flex-direction: column;
        width: 370px;

    }

    .footer-title img {
        width: 28.724px;
        height: 33.516px;
        flex-shrink: 0;
    }

    .footer-title h1 {
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
    }

    .footer-title span {
        font-size: 21.543px;
        font-style: normal;
        font-weight: 800;
    }

    .upper-texts p {
        width: 287px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }

    /* .logos{
        gap: 10[];
    }*/
    .footer-content hr {
        width: 335px;

    }

    .rights p {
        font-size: 14px;
    }

    .fifth-heading {
        color: #131318;
        text-align: center;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .fifth-description {
        width: 309px;
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-family: Mulish;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 171.429% */
    }

    .fifth-first-card,
    .fifth-second-card {
        width: 335px;
        height: 500px;
        flex-shrink: 0;
        background-position: 50% 50%;
        border-radius: 16px;
        margin: 0;
    }

    .first-card-design,
    .second-card-design {
        width: 303px;
        height: 297px;
        flex-shrink: 0;
        margin: 56px 0;
        margin-left: 5px;
        padding: 0;
        padding-left: 10px;
        margin-top: 170px;
    }

    .inside-title {
        color: #131318;
        font-family: Mulish;
        font-size: 20px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    .inside-description {
        width: 254px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
    }

    .fifth-cards {
        margin-right: 0;
    }

    .airlines-content {
        display: flex;
    }

    .airlines-head {
        flex-direction: column;
        text-align: center;
    }

    .airlines-head h1 {
        font-size: 20px;
    }

    .airlines-head p {
        width: 309px;
        font-size: 14px;
        line-height: 24px;
    }

    .airlines-row1-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .airlines-row2-card {
        flex-direction: column;
    }

    .airlines-card-1 {
        width: 280px;
        height: 289px;
    }

    .airlines-card-2 {
        width: 280px;
        height: 289px;
    }

    .airlines-card-3 {
        width: 280px;
        height: 289px;
    }

    .airlines-card-4 {
        width: 280px;
        height: 289px;
    }

    .airline-card-stats {
        font-size: 20px;
    }

    .airline-card-title {
        width: 271px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

    }

}